.CrewBg {
  background-image: url("../../../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: var(--primary-color);
  background-attachment: fixed;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15rem 2rem;

  @media screen and (max-width: 426px) {
    padding-block: 8rem 2rem;
  }

  @media screen and (min-width: 426px) and (max-width: 1026px) {
    padding-block: 12rem 2rem;
  }

  .CrewContainer {
    width: 100%;
    max-width: 80%;

    .pageName {
      display: flex;
      font-family: var(--BarlowCondensed-family);
      gap: 1rem;
      letter-spacing: 4px;
      font-size: 28px;

      @media screen and (max-width: 769px) {
        font-size: 16px;
        justify-content: center;
      }

      @media screen and (min-width: 769px) and (max-width: 1025px) {
        font-size: 20px;
      }
      .pageNumber {
        color: rgb(89, 90, 89);
        font-weight: 700;
      }
      .pageNameTitle {
        text-transform: uppercase;
        color: var(--primary-color);
        font-weight: 400;
      }
    }

    .crewWrapper {
      margin-top: 50px;
      display: flex;
      align-items: stretch;

      @media screen and (max-width: 1025px) {
        flex-direction: column;
      }
      .crewInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1025px) {
          width: 100%;
          text-align: center;
        }

        .crewSubInfo {
          height: 100%;
          align-content: center;

          .crewRole {
            font-size: 32px;
            color: rgba(100%, 100%, 100%, 0.34);
            text-transform: uppercase;
            font-family: var(--Bellefair-family);

            @media screen and (max-width: 426px) {
              font-size: 18px;
            }

            @media screen and (min-width: 426px) and (max-width: 1026px) {
              font-size: 24px;
            }
          }
          .crewMemberName {
            font-size: 56px;
            font-family: var(--Bellefair-family);
            text-transform: uppercase;
            margin-bottom: 20px;

            @media screen and (max-width: 426px) {
              font-size: 24px;
            }

            @media screen and (min-width: 426px) and (max-width: 1026px) {
              font-size: 40px;
            }
          }
          .crewMemberBio {
            font-size: 18px;
            font-family: var(--Barlow-family);
            font-weight: 200;
            color: var(--gray-color);
            @media screen and (max-width: 426px) {
              font-size: 16px;
            }

            @media screen and (min-width: 426px) and (max-width: 1026px) {
              font-size: 18px;
            }
          }
        }
        .crewSwipper {
          display: flex;
          align-items: end;
          gap: 2rem;

          @media screen and (max-width: 1025px) {
            margin-block: 3rem;
            justify-content: center;
          }

          .Icon {
            svg {
              transition: fill 0.3s ease;

              &:hover {
                circle {
                  fill: rgba(255, 255, 255, 0.5); // Hover color with opacity
                }
              }
            }

            &.active {
              svg {
                circle {
                  fill: white; // Active color
                }
              }
            }
          }
        }
      }
      .crewImg {
        width: 50%;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 1025px) {
          width: 100%;
        }
      }
    }
  }
}
